---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';

const about = await getEntry('pages', 'about');
const { Content } = await about.render();
---

<BaseLayout title={about.data.title} description={about.data.description ?? about.data.title}>
	<article class="max-w-[65ch] mx-auto prose font-serif">
		<h1 class="font-bold text-3xl mb-8 font-sans">{about.data.title}</h1>
		<Content />
	</article>
</BaseLayout>
