---
const today = new Date();
---

<footer class="py-16 mt-16 border-t border-border text-secondary text-sm">
	<div class="container flex justify-between items-center">
		<p>&copy; {today.getFullYear()} Feedback. All rights reserved.</p>
		<div class="flex gap-4">
			<a href="/rss.xml" class="hover:text-accent hover:underline">RSS</a>
			<a href="https://github.com/anubhav" class="hover:text-accent hover:underline">GitHub</a>
		</div>
	</div>
</footer>
